<!-- NOTE: Replace all 3 copies ${manifestApplicationId} below with your full Android package name before building! -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onesignal.onesignalsdk"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <permission android:name="com.xocdiadoithuong.gamebaidoithuong.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.xocdiadoithuong.gamebaidoithuong.permission.C2D_MESSAGE" />
    <application>
      	<receiver
            android:name="com.onesignal.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.xocdiadoithuong.gamebaidoithuong" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
    </application>
</manifest>